body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.header-items {
  display: flex !important;
  flex-direction: column !important;
}

.logo-img {
  width: 50px;
}

.search-bar-div {
  width: 50%;
}

.search {
  width: 90%;
}

.search:focus {
  border: 1px solid #000;
  box-shadow: none;
}

.search-btn {
  border: 1px solid #000;
  color: #000;
}


.search-btn:hover {
  border: 1px solid #000;

  background-color: #000;
  color: #fff;
}

.news-div {
  margin-right: 10px;
  margin-top: 15px;
  width: 300px;
  height: 400px;
  overflow-y: hidden;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: relative;
}

.news-div:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.image-div {
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* background-color: antiquewhite; */
  position: relative;
}

.news-link {
  text-decoration: none;
  color: #000;
}

.news {
  padding: 10px;
}

.news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.time-div {
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  width: auto;
  height: auto;
  color: #5e5d5d;
  left: 5px;
}

.hr-line {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.news-title {
  font-weight: 550;
}

.author-div {
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0.6;
  right: 8px;
  bottom: 0px;
}

.buffering {
  position: absolute !important;
  right: 50%;
  top: 50%;
  z-index: 1;
}




.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #000;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
      background-color: #000;
      transform: scaleY(1.5);
  }

  40% {
      transform: scaleY(1);
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  right: 50%;
  top: 50%;
  z-index: 1;
}
@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}
.newsImg {
  width: 100%;
  height: 400px;
}


.loader {
  --c1:#673b14;
  --c2:#f8b13b;
  width: 30px;
  height: 60px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}